h3{
    font-family: Arial;
    font-size: 28px;
    margin-left: 450px;
    margin-top: 50px;
    color: aquamarine;
}

h1{
    font-family: cursive;
    text-align: center;
    margin-top: 60px;
    font-size: 53px;
    color: azure;
}


h2{
    font-family: cursive;
    font-size: 30px;
    margin-left: 525px;
    margin-top: -30px;
    color: azure;
}
