h3{
    font-family: Arial;
    font-size: 28px;
    margin-left: 450px;
    margin-top: 50px;
    color: aquamarine;
}

h1{
    font-family: cursive;
    text-align: center;
    margin-top: 60px;
    font-size: 53px;
}


h2{
    font-family: cursive;
    font-size: 10px;
    text-align: center;
    margin-top: 250px;
}