{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ты что Разбийник?</title>
    <link rel="stylesheet" href="{% static 'slonday/style2.css' %}">
</head>
<body>

    {% if day == 1 %}
        <h1>Сегодня Понеділок!</h1>
    {% elif day == 2 %}
        <h1>Сегодня Tuesday!</h1>
    {% elif day == 3 %}
        <h1>Сегодня Mittwoch!</h1>
    {% elif day == 4 %}
        <h1>Сегодня Чацвер!</h1>
    {% elif day == 5 %}
        <h1>Сегодня Пятница!</h1>
    {% elif day == 6 %}
        <h1>Сегодня 土曜日!</h1>
    {% elif day == 7 %}
        <h1>Сегодня Duminică!</h1>
    {% endif %}

<h3>Время:</h3>

    {% if day == 1 %}
        <h2>Время делать деньги!</h2>
    {% elif day == 2 %}
        <h2>Время в Тайвани 15:00!</h2>
    {% elif day == 3 %}
        <h2>Здравствуй, солнце облаках!Здравствуй юность в сапогах</h2>
    {% elif day == 4 %}
        <h2>Время шаурмы!</h2>
    {% elif day == 5 %}
        <h2>Время бухать!</h2>
    {% elif day == 6 %}
        <h2>Не время бухать!</h2>
    {% elif day == 7 %}
        <h2>Время 2 пальца в рот и на завод!</h2>
    {% endif %}




</body>
</html>